service cameraserver /system/bin/cameraserver
    class main
    user cameraserver
    group audio camera input drmrpc
    ioprio rt 4
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/top-app/tasks
    rlimit rtprio 10 10

on property:persist.sys.oobe_country_area=*
	setprop vendor.camera.oobe_africa ${persist.sys.oobe_country_area}

on property:persist.sys.identifier.app=*
    setprop vendor.camera.identifier.app ${persist.sys.identifier.app}